{% extends 'base.html' %}
{% load static %}

{% block page %} 

<div class="container">
        <div class="row">
            <div class="column-md-4">
                <table class="" colspan=4>
                    <tbody>
                        <td><h2>{{ assorted_object.name }}</h2></td>
                    </tbody>
                    <tbody>
                        <td><p>{{ assorted_object.description }}</p></td>
                    </tbody>
                    <tbody>
                        {% if assorted_object.sale %} 
                            <td><h5 style="text-decoration: line-through; color: green;">Цена: {{ assorted_object.price }} сом</h5></td>
                            <td><h5 style="color: red; font-weight: bold;">Цена со скидкой: {{ assorted_object.get_sale }} сом</h5></td>
                        {% else %} 
                            <td><h5 style="color: green;">Цена: {{ assorted_object.price }} сом</h5></td>
                            
                        {% endif %}
                    </tbody>
               
                    <tbody>
                        <td>{% if assorted_object.image %} 
                            <img src="{{ assorted_object.image.url }}", width="400px" alt="">
                            
                        {% endif %}</td>
                    </tbody>
                
        
            </div>
        </div>
</div>




{% endblock %}